<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/25e71e3313.js" crossorigin="anonymous" defer></script>
        {% endblock %}
    </head>
    <body>
        <header class="header">

            {# Navbar contact datails #}
            <nav class="header-navbar-contact">
                <ul>
                    <li class="header-navbar-contact-title">Preventivi e sopralluoghi gratuiti:</li>
                    <li class="header-navbar-contact-phone"><a class="header-navbar-contact-phone-number" href="tel:+393381106682" target="_blank" alt="Telephone number">+39.338.11.06.682</a></li>
                    <li><a href="tel:+393381106682" alt="Phone icon"><i class="fas fa-phone"></i></a></li>
                    <li><a href="https://wa.me/+393381106682" target="_blank" alt="Whatsapp icon"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="mailto:info@brandimarte.com" target="_blank" alt="Email icon"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </nav>

            {# Navbar #}
            <nav class="header-navbar">
                <section class="header-navbar-menu-toggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul class="header-navbar-menu">
                        <section class="header-navbar-menu-logo">
                            <li><a class="signature-font" href="{{ path('app_homepage') }}">Traslochi Brandimarte</a></li>
                        </section>
                        <section class="header-navbar-menu-link">
                            <li class={{ app.request.pathinfo == "/" ? "header-navbar-menu-link-mark" : "" }}><a href="{{ path('app_homepage') }}">Home</a></li>
                            <li class={{ app.request.pathinfo == "/chi-siamo" ? "header-navbar-menu-link-mark" : "" }}><a href="{{ path('app_chi_siamo') }}">Chi siamo</a></li>
                            <li class={{ app.request.pathinfo == "/preventivi" ? "header-navbar-menu-link-mark" : "" }}><a href="{{ path('app_preventivi') }}">Preventivi</a></li>
                            <li class={{ app.request.pathinfo == "/servizi" ? "header-navbar-menu-link-mark" : "" }}><a href="{{ path('app_servizi') }}">Servizi</a></li>
                            <li class={{ app.request.pathinfo == "/contatti" ? "header-navbar-menu-link-mark" : "" }}><a href="{{ path('app_contatti') }}">Contatti</a></li>
                        </section>
                        <section class="header-navbar-menu-quote">
                            <a href="{{ path('app_preventivi') }}">
                                <section class="btn-animated-wrap">
                                    <section class="btn-animated">
                                        <li>Preventivo online gratuito</li>
                                    </section>
                                </section>
                            </a>
                        </section>
                    </ul>
                </section>
            </nav>

            <section class="header-section">
                <section class="header-section-title">
                <h1>Traslochi Brandimarte</h1>
                {% block header_sub_title %}
                <h2>Traslochi su Roma, nazionali ed internazionali</h2>
                {% endblock %}
                </section>
            </section>

        </header>

        {# Body #}
        {% block body %}{% endblock %}

        {# Footer #}
        <footer class="footer">
            <section class="footer-information">
                <ul>
                    <li><i class="far fa-building"></i> Traslochi Brandimarte</li>
                    <li><i class="fas fa-map-marker-alt"></i> Via Ferdinando Maria Poggioli 58 - 00139 Roma</li>
                    <li><a href="tel:+393381106682" alt="Phone icon"><i class="fas fa-phone"></i> +39.338.11.06.682</a></li>
                    <li><a href="https://wa.me/+393381106682" target="_blank" alt="Whatsapp icon"><i class="fab fa-whatsapp"></i> +39.338.11.06.682</a></li>
                    <li><a href="tel:+390687132237" alt="Phone icon"><i class="fas fa-tty"></i> +39.06.87.13.22.37</a></li>
                    <li><a href="mailto:info@brandimarte" target="_blank" alt="Email icon"><i class="fas fa-envelope"></i> info@brandimarte</a></li>
                    <li><a href="mailto:brandimarte.andrea@pec.it" target="_blank" alt="Email icon"><i class="fas fa-at"></i> Pec: brandimarte.andrea@pec.it</a></li>
                    <li><i class="fas fa-info-circle"></i> PI 15929701009</li>
                </ul>
            </section>
            <section class="footer-timetable">
                {% set today = "now"|date("l") %}
                <ul>
                    <li><h2>Siamo aperti</h2></li>
                    <li class={{ today == "Monday" ? "footer-timetable-mark" : "" }}>Lunedì: 8 - 20</li>
                    <li class={{ today == "Tuesday" ? "footer-timetable-mark" : "" }}>Martedì: 8 - 20</li>
                    <li class={{ today == "Wednesday" ? "footer-timetable-mark" : "" }}>Mercoledì: 8 - 20</li>
                    <li class={{ today == "Thursday" ? "footer-timetable-mark" : "" }}>Giovedì: 8 - 20</li>
                    <li class={{ today == "Friday" ? "footer-timetable-mark" : "" }}>Venerdì: 8 - 20</li>
                    <li class={{ today == "Saturday" ? "footer-timetable-mark" : "" }}>Sabato: 8 - 20</li>
                    <li class={{ today == "Sunday" ? "footer-timetable-mark" : "" }}>Domenica: chiuso</li>
                    <li class="footer-timetable-mark">Su appuntamento: 24 ore su 24 - 7 giorni su 7</li>
                </ul>
            </section>
            <section class="footer-social">
                <ul>
                    <li><h2>Seguici su</h2></li>
                    <br>
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </section>
            <section class="footer-powered">
                <p>Made with <span class="footer-powered-heart">&hearts;</span> in London by <a href="https://devmarco.com/" target="_blank">Marco Valeri</a> - <span class="footer-powered-copy">&copy;</span> {{ "now"|date("Y") }} - All rights reserved</p>
            </section>
        </footer>
    </body>
</html>
